body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.section-catalog {
  background: #232324;
  padding: 15px 0;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.catalog-item {
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  width: calc(25% - 30px); /* 100% / elemsOnRow - marginLeft - marginRight */
}

@media screen and (max-width: 1060px) {
  .catalog-item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 780px) {
  .catalog-item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 560px) {
  .catalog-item {
    width: calc(100% / 1 - 30px);
  }
}

.catalog-item__title {
  color: #6cc372;
  font-size: 24px;
  margin: 10px 0;
}

.catalog-item__price {
  margin: 10px 0;
}

.catalog-item__button {
  display: block;
  text-decoration: none;
  background: #6cc372;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
