body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-posts {
  background: #232324;
  padding: 15px 0;
}

.posts-line {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.posts-item {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1 1 400px;
}
.posts-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.posts-item__image {
  flex: 1 1 125px;
}

.posts-item__image img {
  display: block;
}

.posts-item__text {
  flex: 3 1 375px;
  color: #fff;
  font-size: 20px;
}
