html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-style: normal;
  font-weight: 300;
}

/* h1, .h1{

} */

h2,
.h2 {
  font-size: 55px;
  margin: 0 0 3.5vw;
}

h3,
.h3 {
  font-size: 26px;
  margin: 0 0 3vw;
}

.clr-green {
  color: var(--green);
}

.clr-grey-dark {
  color: #333;
}

.clr-grey-light {
  color: #888;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap) / -2);
}

.col {
  box-sizing: border-box;
  margin: calc(var(--gap) / 2);
}

@media screen and (max-width: 780px) {
  .container {
    padding: 0 15px;
  }
}
